<template name="bets">
{{#if activeWorksheetAvailable}}
    <h3>Settled Bets</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Event</th>
                <th>Participant</th>
                <th>Stake</th>
                <th>Win</th>
            </tr>
        </thead>
        <tbody>
            {{#each settledBets}}
            <tr class="{{#if unusualCustomer}}danger{{/if}}">
                <td>{{customer}}</td>
                <td>{{event}}</td>
                <td>{{participant}}</td>
                <td>${{stake}}</td>
                <td>${{win}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <hr>

    <h3>Unsettled Bets</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Customer</th>
                <th>Event</th>
                <th>Participant</th>
                <th>Stake</th>
                <th>To Win</th>
            </tr>
        </thead>
        <tbody>
            {{#each unsettledBets}}
            <tr class="{{#if risks}}danger{{/if}}">
                <td>
                    {{#each risks}}
                    <span class="label label-danger">{{label}}</span>
                    {{/each}}
                </td>
                <td>{{customer}}</td>
                <td>{{event}}</td>
                <td>{{participant}}</td>
                <td>${{stake}}</td>
                <td>${{toWin}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <dl class="dl-horizontal">
        <dt><span class="label label-danger">Too Risky 30x</span></dt>
        <dd>Bet is at-least 30x more than customer's average historical bets.</dd>
        <dt><span class="label label-danger">Risky 10x</span></dt>
        <dd>Bet is between 10x to 30x more than customer average historical bets.</dd>
        <dt><span class="label label-danger">Unusual</span></dt>
        <dd>Bet is from customer who historically wins at the unusual 60% rate.</dd>
        <dt><span class="label label-danger">High</span></dt>
        <dd>Amount to be won is $1000 or higher.</dd>
    </dl>

{{/if}}
</template>